#singer-info-page .info-content {
    border-bottom: 3px solid #39f;
    border-top: 3px solid #39f;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
}