#category-page .item {
    padding: 20px 10px;
    border-bottom: 1px dashed #ccc;
}
#category-page .category-list a {
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
}