* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 12px;
	font-family: "Arial";
	font-weight: normal;
	color: #333
}
ul,ol,li {
	list-style: none
}
a {
	text-decoration: none;
	color: #333
}
a:hover,a:active,a:focus {
	color: #39f;
	text-decoration: underline
}
img {
	border: 0;
	max-width:100%;
	max-height: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	background: url(/image/background.png);
	background-size: cover;
}
.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}
.table,.t {
	display: table;
	height: 100%;
}
.table-cell,.t-c {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
.top-nav {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}
.container {
	max-width: 1200px;
	min-width: 500px;
	padding: 0 15px;
	margin: 0 auto;
}
/*tips start*/
#message-tips {
	padding: 12px 30px 12px 16px;
	position: fixed;
	top: 30px;
	left: 15px;
	color: #fff;
	width: calc(100% - 30px);
	z-index: 999;
	border-radius: 8px;
}
#message-tips.error {
	background-color: #FF898A;
}
#message-tips.success {
	background-color: #74CAC9;
}
#message-tips .icon-content {
	width: 40px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 28px;
}
#message-tips .text-content {
	width: calc(100% - 40px);
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
}
#message-tips .close-btn {
	font-size: 12px;
	position: absolute;
	top: 12px;
	right: 12px;
	cursor: pointer;
}
/*tips end*/
.top-nav .left {
	width: calc(100% - 200px);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top-nav .right ul>li {
	float: left;
}
.top-nav .right ul>li .plr10 {
	padding: 0 10px;
	border-right: 1px solid #333;
}
#top-header {
	height: 80px;
	padding: 14px;
	background: #39F;
}
#top-header .logo {
	height: 52px;
	line-height: 52px;
	float: left;
}
#top-header .free-share {
	float: right;
	height: 52px;
	padding: 4px 10px;
	background: #64b1ff;
}@font-face {
  font-family: "iconfont";
  src: url('/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-fanhui:before {
  content: "\e625";
}

.icon-guanbi:before {
  content: "\e626";
}

.icon-bofang:before {
  content: "\e627";
}

.icon-kefu:before {
  content: "\e628";
}

.icon-shenfenzheng:before {
  content: "\e629";
}

.icon-duigou:before {
  content: "\e62a";
}

.icon-shuoming:before {
  content: "\e62b";
}

.icon-zanting:before {
  content: "\e62c";
}

.icon-shoucang:before {
  content: "\e62d";
}

.icon-jiantoushang:before {
  content: "\e62e";
}

.icon-jiantoushang1:before {
  content: "\e62f";
}

.icon-jiantouyou:before {
  content: "\e630";
}

.icon-jiantouxia:before {
  content: "\e631";
}

.icon-wode:before {
  content: "\e632";
}

.icon-shouye:before {
  content: "\e633";
}

.icon-fenlei:before {
  content: "\e634";
}

.icon-xiaoxi:before {
  content: "\e635";
}

.icon-faxian:before {
  content: "\e636";
}

.icon-sousuo:before {
  content: "\e637";
}

.icon-liulan:before {
  content: "\e638";
}

.icon-zhiding:before {
  content: "\e639";
}

.icon-xuanzhong:before {
  content: "\e63a";
}

.icon-tabguanbi:before {
  content: "\e63b";
}

.icon-yigouxuan:before {
  content: "\e63d";
}

.icon-weigouxuan:before {
  content: "\e63e";
}

.icon-dingyue:before {
  content: "\e63f";
}

.icon-dizhiguanli:before {
  content: "\e640";
}

.icon-daifukuan:before {
  content: "\e641";
}

.icon-huiyuan:before {
  content: "\e642";
}

.icon-weishiyong:before {
  content: "\e643";
}

.icon-pingjia:before {
  content: "\e644";
}

.icon-qiandao:before {
  content: "\e645";
}

.icon-yanchurili:before {
  content: "\e646";
}

.icon-changyonggoupiaorenbianji:before {
  content: "\e647";
}

.icon-changyonggoupiaorenshanchu:before {
  content: "\e648";
}

.icon-shouhuodizhiyebianji:before {
  content: "\e649";
}

.icon-dingdan:before {
  content: "\e64a";
}

.icon-youhuiquan:before {
  content: "\e64b";
}

.icon-weigouxuan1:before {
  content: "\e64c";
}

.icon-yigouxuan1:before {
  content: "\e64d";
}

.icon-tishishuoming:before {
  content: "\e64e";
}

.icon-guanbi1:before {
  content: "\e64f";
}

.icon-jiajianzujianjiahao:before {
  content: "\e650";
}

.icon-cainixihuan:before {
  content: "\e652";
}

.icon-huanyihuan:before {
  content: "\e653";
}

.icon-shimingrenzheng:before {
  content: "\e65c";
}

.icon-jubao:before {
  content: "\e661";
}.plr10 {
	padding: 0 10px;
}
.pl10 {
	padding-left: 10px;
}.f14 {
	font-size: 14px;
}
.f38 {
	font-size: 38px;
}
.f40 {
	font-size: 40px;
}
.fb {
	font-weight: bold;
}
.cw,.cwhite {
	color: #fff;
}